*,
::after, 
::bofore {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;    
}
h3{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
h3 + p{
    color: #774c4c;
    text-align: center;
}
.contenedor{
    padding: 80px 0;
    max-width: 1000px;
    width: 90%;
    margin: auto;
    overflow: hidden;
}
header{
    height: 700px;
    width: 100%;
    position: relative;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* Menu */
.menu-header{
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    background: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    transform: scale(1);
    transition: tranform .2s;
    z-index: 20;
    animation: scalar .5s 3 alternate;
}
.menu-header:active{
    transform: scale(0.9);
}
@keyframes scalar{
    0%{
        transform: scale(0.1);
    }
}
/* Estilos del header */
.contenido-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 550px;
    margin: auto;
    color: #fff;
    overflow: hidden;
}
.contenido-header .textos-header{
    width: 50%;
    transform: translateY(0);
    opacity: 1;
    animation: animacion2 1s ease-out;
}
.contenido-header h1{
    font-size: 60px;
}
.textos-header>a{
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 300;
    margin-top: 20px;
    padding: 5px 2px;
    width: 120px;
    text-align: center;
}
.contenido-header .img-header{
    width: 50%;
}
.img-header img{
    transform: translateX(0);
    opacity: 1;
    animation: animacion1 1s ease-out;
    width: 100%;
}
@keyframes animacion1{
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
}
@keyframes animacion2{
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
}
.wave-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    height: 150px;
    width: 100%;
}
/* Acerca de */
.acerca-de{
    padding-top: 40px;
}
.contenedor-acerca-de{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}
.card-acerca{
    background: #f2f2f2;
    width: 30%;
    border-radius: 3px;
    padding: 20px 10px;
    margin-top: 40px;
}
.card-acerca i{
    display: block;
    font-size: 100px;
    color: #c31432;
}
.card-acerca h4{
    margin-bottom: 10px;
}
.card-acerca p{
    font-weight: 300;
    margin-bottom: 10px;
    color: #585858;
}
/* Servicio */
.servicio-cont{
    background: #f2f2f2;
}
.servicio{
    padding: 80px 0;
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}